@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600&display=swap');

@import url(./cover.css);
@import url(./works.css);
@import url(./experience.css);
@import url(./contacts.css);
@import url(./work-page.css);

body,
section,
h1,
h2,
h3,
div,
p,
ul,
li,
a,
img,
nav {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
html {
  font-size: 6.944vw;
}
img {
  max-width: 100%;
  display: block;
}

button {
  margin: 0;
  padding: 1.1vw;
  border-radius: 1000px;
  border: 1px solid #3A3E49;
  color: #3A3E49;
  background: #F8F9FC;
  /* font-size: 1.2vw; */
  font-size: 0.18em;
  /* font-size: max(18px); */
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
  /* letter-spacing: 0.36px; */
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  background: #E6E6E8;
}
button:active {
  background: #3A3E49;
  color: #FFF;
}

.app {
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  overflow-y: scroll;
}
.section {
  overflow: hidden;
  position: relative;

  &:nth-of-type(1) {
    background: #1C1F25;
    height: 100vh;
    background-image: url("../images/cover.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 40px;

    .section-title {
      bottom: 80px;
      width: 59.2vw;
    }
  }
  &:nth-of-type(2) {
    /* height: 800px; */
    background: #F8F9FC;
    /* padding-top: 34vh; */
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;

    .section-title {
      top: 90px;
      width: 37.5vw;
    }
  }
  &:nth-of-type(3) {
    /* height: 100vh; */
    background: #EAEBF9;
    padding-top: 20.1vw;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 70px;

    .section-title {
      top: 90px;
      width: 62.2vw;
    }
  }
  &:nth-of-type(4) {
    /* height: 100vh; */
    background: #1C1F25;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 126px;

    .section-title {
      top: 90px;
      width: 54.8vw;
    }
  }
}
.section-title {
  position: absolute;
  left: 40px;
  z-index: 10;
}